/* Mobile first styles goes there*/

html{
    font-size: 10px;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
/*HEADER*/
header{
    max-width: 100%;
}
.navigation-smallwidth{
    display: flex;
    justify-content: space-between;
}
.navigation-bigwidth{
    display: none;
}
.navigation{
    width: 100%;
    background-color: #373c3f;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5rem 0 1.5rem 1.5rem;
}
.burger-space{
    width: 15%;
    background-color: #202529;
    position: relative;

}
.dropdown-menu{
    position: absolute;
    width: 40%;
    z-index: 5;
    top: 4rem;
    right: 0;
    background-color: #fff;
    display: none;
}
.dropdown-menu li{
    padding: .7rem;
    font-size: 1.2rem;
    transition: background-color 1s ease;
    cursor: pointer;
}

.dropdown-menu li:nth-child(odd){
    background-color: #f5f5f5;
}
.dropdown-menu li:hover{
    background-color: #9f9898;
}
/*Burger icon */
.burger-on{
    position: absolute;
    width: 50%;
    height: .45rem;
    background-color: white;
    border-radius: 1px;
    left: 50%;
    margin-left: -25%;
    top: 40%;
    opacity: 0.9;
    /* display: none; */
}
.burger-on:before, .burger-on:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1px;
    top: 190%;
}
.burger-on:before{
    top: -190%;
}
/*burger icon end*/
/*Burger close icon*/
.burger-off{
    position: absolute;
    width: 60%;
    height: 50%;
    left: 50%;
    margin-left: -25%;
    top: 15%;
    opacity: 0.9;
    /* display: none; */
}
.burger-off:before, .burger-off:after{
    position: absolute;
    content: '';
    background-color: white;
    width: .3rem;
    height: 120%;
    left: 45%;
    border-radius: 1px;
}
.burger-off:before {
    transform: rotate(45deg);
}
.burger-off:after {
    transform: rotate(-45deg);
}

.burger-on:hover, .burger-off:hover{
    opacity: 1;
}
/*END OF HEADER*/

/*IMGS CONTENT*/
.main-menu{
    position: relative;
}
.main-menu img, .menu-option img{
    width: 100%;
    height: auto;
}
.main-title{
    position: absolute;
    color: #fff;
    top: 10%;
    left: 5%;
}
.main-title h2{
    font: bold  1.8rem Lato, sans-serif;
    line-height: 140%;
}
.main-link{
    text-decoration: none;
    color: #93bcc4;
    font-size: 1.4rem;
    line-height: 155%;
}
.menu-options{
    display: flex;
    flex-flow: column;
}
.menu-options-desk{
    display: none;
}
.menu-option{
    position: relative;
    margin: 1px;
}

.menu-option-navigation{
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: #acd8ad;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}
.menu-option-title{
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 35%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}
.suggestion-title-group{
    padding: 15px 5px 5px 5px;
    white-space: nowrap;
}
.suggestion-title-group img{
    display: none;
}
.suggestions-title{
    text-transform: uppercase;
    font-size: 1.8rem;
}
.suggestion-title-group p{
    font-size: 1rem;
    color: #d9dadb;
    padding: .5rem 0 1.3rem 0;
}
.page-title{
    font-size: 2rem;
    text-transform: uppercase;
    color: #acd8ad;
    width: 100%;
    padding:  10px 0 10px 10px;
    background-color: #3f4043;
}
.second-page .page-title{
    color: #fff;
    background-color: #acd8ad;
}

.first-page-content, .second-page-content{
  padding: 0 10px;
}
.page-suggestion-title h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 150%;
}
.page-suggestion-title{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.suggestion-position{
  padding: .5rem 0;
}
.position-name-and-price{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}
.position-price{
    font-weight: bold;
}
.position-description{
  font-size: .9rem;
}
footer{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-align: center;
    background-color: #acd8ad;
    line-height: 120%;
    padding: 1.4rem 0;
    margin-top: 2.3rem;
}
footer img{
    display: none;
}



@media (min-width: 320px) {
    html{
        font-size: 12px;
    }
    .suggestion-title{
        font-size: 1.2rem;
    }
    .first-page-content, .second-page-content{
        padding: 0 17px;
    }
}

@media (min-width: 640px) {
    html{
        font-size: 18px;
    }
    .suggestions-title{
        font-size: 2.2rem;
    }
}

@media (min-width: 980px) {
    html{
        font-size: 20px;
    }
    header{
        padding: 0 25px;
            background-color: #373c3f;
    }
    .main-link{
        line-height: 300%;
    }

    .menu-options{
        display: none;

    }
    .menu-options-desk{
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 auto;
    }
    .pizza-delivery-sect img{
        max-width: 33%;
    }
    .menu-option-title{
        position: absolute;
        left: 45%;
        margin-left: -25%;
        top: 45%;
        color: #fff;
        font-size: 1.5rem;
    }
    .navigation-smallwidth{
        display: none;
    }
    .navigation-bigwidth{
        display: flex;
        justify-content: space-around;
    }
    .classic-menu li{
        display: inline-block;
        font-size: .8rem;
        opacity: .5;
        cursor: pointer;
        padding-right: 15px;
    }
    .classic-menu li:hover{
        opacity: 1;
    }
    .suggestions-title {
        font-size: 1.5rem;
    }
    .suggestion-title-group img{
        display: block;
    }
    .suggestion-title-group{
        display: flex;
        justify-content: space-between;
        margin: 2rem 0 1rem 0;
    }

    .suggestion-title-group p {
        padding: 0;
        margin-top: .8rem;

    }
    .suggestion-pages{
        display: flex;
        /*justify-content: ;*/
        flex: 50%;
    }
    .page-title{
        font-size: 1.5rem;
    }
    footer img{
        display: block;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }
    footer p{
        display: inline-block;
        font-size: .8rem;
    }
}

@media (min-width: 1200px) {
    html{
        font-size: 23px;
    }
}
