@font-face {
    src: url("../fonts/ufonts.com_klavika-bold-opentype.otf");
    font-family: 'Klavika Bold';
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro/MyriadPro-Black.eot');
    src: local('Myriad Pro'), local('MyriadPro-Black'),
    url('../fonts/MyriadPro/MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/MyriadPro-Black.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadPro-Black.ttf') format('truetype');
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.main-content {
    flex: 1 0 auto;
}


.header-container-contacts-wrapper {
    width: 100%;
    background-color: #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
}

.header-container-contacts {
    width: 1021px;
    margin: 0 auto;
    padding: 13.5px 0 11.5px 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.email-address {
    padding: 2px 37.5px 0 5.5px;
}

.mobile-number {
    padding: 2px 40px 0 15px;
}

.header-container-contacts img {
    width: auto;
    height: 17px;
}

.facebook-icon-div {
    position: absolute;
    top: 6px;
    right: 0;
    background-color: #1287bf;
    width: 25px;
    height: 22px;
    text-align: center;
    font-size: 22px;
    border-radius: 3px;
    color: #fff;
    font-family: 'Klavika Bold';
    padding-top: 4px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1020px;
    margin: 0 auto;
    height: 125px;

}

.logo {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.logo-heading {
    padding-left: 16px;
    margin-bottom: 12px;
}

.logo img {
    margin-top: 5px;
    height: 47px;
}

.logo-heading h2 {
    font-size: 37px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
}

.navigation-menu span {
    font-size: 14px;
    font-weight: bold;
    padding: 0 7px;
    display: inline-block;
}

.navigation-menu span:nth-child(odd):hover {
    color: #de2b24;
    cursor: pointer;
}

.navigation-menu span:nth-child(even) {
    font-size: 23px;
}

.navigation-menu a {
    display: inline-block;
    padding: 10px 25px;
    margin-left: 26px;
    border-radius: 3px;
    background-color: #de2b24;
    color: #fff;
    text-decoration: none;
}

.main-container {
    background: url("../imgs/header-banner-fon-img.png") center no-repeat;
    width: 100%;
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-title-group {
    width: 513px;
    height: 182px

}

.main-container-title-group {
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
}

.main-container-title-group h1 {
    font-size: 49px;
    font-weigt: 900;
}

.main-container-title-group h2 {
    font-size: 30px;
    margin-top: 5px;
    letter-spacing: .75px;
}

.main-container-title-group a {
    display: inline-block;
    padding: 20px 48px;
    border-radius: 8px;
    color: #fff;
    background-color: #f8cd53;
    text-decoration: none;
    text-transform: uppercase;
    font: 24px 'Roboto', sans-serif;
    margin-top: 34px;
}

.about-us-title-group {
    margin: 95px auto 0 auto;
    width: 293px;
    text-align: center;
}

.about-us-title-group h2 {
    font: bold 36px 'Roboto', sans-serif;
}

.about-us-title-group h3 {
    font-size: 20px;
}

.black-line, .white-line {
    width: 46px;
    height: 5px;
    margin: 10px auto 0 auto;
    border-bottom: 5px solid black;
}

.white-line {
    border-bottom: 5px solid white;

}

.about-us-services-group {
    width: 914px;
    margin: 45px auto 135px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.about-us-services {
    flex-basis: 228px;
    line-height: 150%;
}

.about-us-services h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px auto 10px auto;
}

.about-us-services p {
    font-size: 13.5px;
}

.our-work-container {
    background-color: #de2b24;
}

.our-work-content-title-group {
    margin: 0 auto 0 auto;
    padding-top: 105px;
    width: 352px;
    text-align: center;
    color: #fff;
}

.our-work-content-title-group h2 {
    font: bold 36px 'Roboto', sans-serif;
}

.our-work-content-title-group h3 {
    font-size: 20px;
}

.our-work-gallery {
    width: 1022px;
    margin: 46px auto 0 auto;
    padding-bottom: 131px;
    display: flex;
    flex-flow: row wrap;
}

.redsquare {
    background-color: #f35e59;
    width: 255px;
    height: 255px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.redsquare h3{
    font: bold 26px 'Roboto', sans-serif;
    padding-top: 18px;
}
.redsquare h4{
    font: normal 16px 'Roboto', sans-serif;
}
.get-in-touch-container{
    height: 487px;
    background-color: #2a2a2a;
    text-align: center;
    color: #fff
}
.get-in-touch-container h3{
    padding-top: 86px;
    font-size: 29px;
    font-weight: bold;
}
.contact-links img{
    width: 20px;
    height: 20px;
}
.fb-link{
    background: url("../imgs/get-in-touch/facebook.png") no-repeat center;
}
.twit-link{
    background: url("../imgs/get-in-touch/twitter.png") no-repeat center;
}
.gm-link{
    background: url("../imgs/get-in-touch/gmail.png") no-repeat center;
}
.linkdn-link{
    background: url("../imgs/get-in-touch/linkdn.png") no-repeat center;
}
.contact-links{
    margin-top: 24px;
}
.contact-links a{
    display: inline-block;
    border: 2px solid #515151;
    padding: 22px;
    border-radius: 2px;
    margin: 0 9px;
}
.contact-links a:hover,
/*.contact-links a:visited,*/
.contact-links a:focus {
    border-color: #de2b24;
}
.get-in-touch-container p{
    margin-top: 33px;
    font-family: 'Myriad Pro';
}
.get-in-touch-useremail{
    margin-top: 32px;
    width: 659px;
    height: 53px;
    background-color: #515151;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding-left: 20px;
    font-size: 14px;
}
.subsctiption{
    padding: 14px 33px;
    margin-top: 28px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    background-color: #2a2a2a;
    border: 2px solid #515151;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.subsctiption:hover{
    border-color: #de2b24;
}


footer {
background-color: #515151;
text-align: center;
color: #fff;
font-size: 14px;
padding: 26px;
}
